#about
{
	position: relative;
	z-index: 1;
}
#about-image
{
	/*background: linear-gradient(#293e62, #FFF);*/	
	top: -1.7em;
}
#about-content
{
	top: -1.7em;
	background-color: #fff;
}
#about-header
{
	background-color: #57C4E6;
}