.games-button
{
	position: relative;
	background-color: #EBEBEB;
	font-family: Montserrat;
	display: inline-block;
	font-size: 150%;
	padding: 15px;
	border-style: solid;
	border-color: #333;
	border-bottom-width: 5px;
}
	.games-button:hover
	{
		background-color: #FAFAFA;
		cursor: pointer;
	}
	.games-button:active
	{
		top: 5px;
		border-bottom-width: 0px;
	}

.gameDescription{
	position: relative;
	background: linear-gradient(60deg, #fff,#ddd);
	color: black;
	display: block;
	font-family: Arial, sans-serif;
	height: 20em;
	margin-bottom: 1em;
	width: 100%;
	text-decoration: none;
	overflow: hidden;
	border-style: solid;
	border-color: #444;
	border-bottom-width: 10px;
}
.gameDescription:active
{
	position: relative;
	top: 10px;
	border-color: #fff;
}
.gameImage{
	display: inline;
	float: right;
	width: 50%;
	height: 100%;
	background-color: black;
	text-align: center;
}
.gameImage>img
{
	position: relative;
	bottom: 20%;
}

	.gameDescription>span>p{
		margin-left: 0%;
		margin-right: 0%;
	}
	.gameDescription>span{
		position: relative;
		display: inline-block;
		float: left;
		margin: 0;
		line-height: 1.2em;
		padding-top: 2em;
		padding-left: 1em;	
		width: 48%;	
		height: 18em;
	}
	.gameDescription>span>h1{
		display: inline-block;
		font-family: Montserrat, sans-serif;
		padding: 10px;
		border-left-style: solid;
		border-left-width: 50px;
		position: relative;
		right: 50px;
		font-size: 150%;
	}
	.gameDescription>span>h2{
		padding-bottom: 0.5em;
		display: block;
		font-family: Montserrat, sans-serif;
		font-size: 120%;
	}
.gamePlatforms>img{
	width: 36px;
	height: 36px;
}
.gamePlatforms
{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.gameDate
{
	font-family: Montserrat;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

#container
{
	margin-top: 20px;
	border-style: solid;
	border-color: #eee;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding: 5px;
}

#games
{
	background: linear-gradient(#FFCF30, #FF6130);	
	position: relative;
	z-index: 1;
}
#games-image
{
	height: 10em;
}
#games-content
{
	background-color: #fff;
}
#games-header
{
	background-color: #FFCC26;
}

#in-development-button
{
}