a
{
	color: white;
	text-decoration: none;
	width: 100%;
}
	a:visited
	{
		color: white;
	}
	a:hover
	{
		color: white;
		opacity: 1;
	}

hr
{
    width: 100%;
}

#main-menu
{
	top: 5em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

#main-menu li
{
	/*background-color: #44ddff;*/
	opacity: 1;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	height: 1em;
	width: 10em;
	text-align: left;
}

#main-menu li:hover
{
	opacity: 1;
	text-shadow: #FFF 0 0 3px;
	/*background-color: #abc;*/
}

#title
{
	position: fixed;
	top: 4em;
	left: 12em;
	width: 16em;
	font-size: 200%;
	text-align: center;
	color: white;
	font-family: 'coneriaScript';
/*	font-family: 'Montserrat', sans-serif;	
*/	text-shadow: #aaf 0 0 10px;
}