#main-menu
{
	top: 5em;
	font-family: 'Montserrat', sans-serif;
}

#main-menu li
{
	background-color: #44ddff;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	height: 1em;
	width: 10em;
	text-align: center;
}

hr {
    width: 100%;
}