a
{
	color: white;
	text-decoration: none;
	width: 100%;
}
	a:visited
	{
		color: white;
	}
	a:hover
	{
		color: white;
	}

div
{
	display:block;
}

ul
{
	list-style: none;
	position: relative;
}

#logoBack
{
	height: 6em;
	position: absolute;
	top: 1em;
	width: 6em;
	z-index: 1000;
}

#logoFront {
    height: 6em;
	position: absolute;
	top: 1em;
	width: 6em;
	z-index: 3000;
}

#titlebar
{
	border-bottom-width: 0.3em;
	border-color: black;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-top-width: 0.3em;
	float: right;
	height: 2em;
	margin-bottom: 5em;
	position: relative;
	top: 2.75em;
	width: 100%;
    z-index: 2000;
}
