@font-face {
		font-family: coneriaScript;
		src: url("../fonts/Demo_ConeriaScript.ttf");
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

a
{
	color: white;
	text-decoration: none;
	width: 100%;
}
	a:visited
	{
		color: white;
	}
	a:hover
	{
		color: white;
	}

div
{
	display:block;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

ul
{
	list-style: none;
	position: relative;
}

.contactLogos {
    display: inline;
    margin: 1em;
    height: 5em;
    width: 5em;
}

.question {
    text-align: center;
    margin: 1em;
}

.question:hover {
    cursor: pointer;
}

.answer {
    display: none;
    text-align: center;
    margin: 1em;
}

#doubleTitleBar
{
    left: 8em;
}

#logo
{
	height: 6em;
	position: absolute;
	top: 1em;
	width: 6em;
	z-index: 1000;
    margin: 0.5em;
    display: inline;
}

#logosDiv {
    width: 100%;
    text-align: center;
}

#titlebar
{
	background-image: url("images/texture.jpg");
	border-bottom-width: 0.3em;
	border-color: black;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-top-width: 0.3em;
	float: right;
	height: 2em;
	margin-bottom: 5em;
	position: relative;
	top: 3.2em;
	width: 100%;
}

#titlebar a:hover
{
    color: gold;
}

#titlebar li
{
    position: relative;
    display: inline;
    width: auto;
    margin: .5em;
    float: left;
}