hr 
{
    width: 100%;
}
.temp-button
{
	position: relative;
	background-color: #1FE9FF;
	font-family: Montserrat, sans-serif;
	display: inline-block;
	padding: 15px;
	border-style: solid;
	border-color: #333;
	border-bottom-width: 5px;
	margin-top: 20px;
	margin-bottom: 15px;
}
#announcement
{
	position: relative;
	left: calc(50vw - 6em);
	z-index: 500;
	font-size: 300%;
	color: white;
}

#home
{
	width: 1.5em;
	height: 1.5em;
	padding-top: 0.4em;
	padding-left: 4.5em;
}

#menu
{
	display: none;
}

#menu li
{
	display: none;
}

#menu-background
{
	display: none;
}
#menu-about:hover
{
	background-color: #57C4E6;
}
#menu-calendar:hover
{
	background-color: #50DE84;
}
#menu-games:hover
{
	background-color: #FFCC26;
}
#menu-podcasts:hover
{
	background-color: #DE9250;
}
#menu-contact:hover
{
	background-color: #DE475B;
}

#splash
{
	z-index: 1;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	position: relative;/*required for overflow:hidden to work...*/
	background-image: url("../images/splash/reversed_gradient.png");
	background-size: 100vw 100vh;
	/*background: linear-gradient(#5BD1E3, #fff);#293E62,#FFF*/
	/*background: linear-gradient(#293e62, #FFF);*/
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;	

}

#title
{
	position: fixed;
	top: 40vh;
	left: calc(50vw - 8em);
	min-width: 16em;
	font-size: 330%;
	max-width: 16em;
	text-align: center;
	line-height: 1.5;
	color: white;
	font-family: 'eightBit';
/*	font-family: 'Montserrat', sans-serif;	
*/	text-shadow: 1px 1px 3px rgba(0, 100, 100, 1);
}

#clouds
{
	width: 140vw;
	position: absolute;
	bottom: 0px;
	left: -20vw;
	z-index: 300;
	image-rendering: pixelated;
}
#bell-tower
{
	width: auto;
	position: fixed;
	max-height: 60vw;
	min-height: 60vw;
	bottom: 0px;
	left: 70vw;
	z-index: 200;
	image-rendering: pixelated;
}
#green-hills
{
	width: 150vw;
	position: fixed;
	bottom: 0px;
	z-index: 100;
	image-rendering: pixelated;
}