#podcasts
{
	position: relative;
	z-index: 1;
}
#podcasts-image
{
	height: 10em;
/*	background: linear-gradient(#634B17, #FF6130);
*/}
#podcasts-content
{
	background-color: #fff;
}
#podcasts-header
{
	background-color: #DE9250;
}