.alignment-table
{
	vertical-align: top;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
.contact-email
{
	text-decoration: underline;
	color: #DE475B;
}
	.contact-email:hover
	{
		color: #EF586C;
	}
.contact-portrait
{
	display: inline-block;
	margin: 20px;
	vertical-align: top;
	width: 60vw;
}
.contact-image
{
	vertical-align: top;
	height: 340px;
	width: 340px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	object-fit: cover;
}
.contact-name
{
	font-family: Montserrat, sans-serif;
	font-size: 290%;
	margin-bottom: 10px;	
}
.contact-title
{
	color: #999;
	font-family: Montserrat, sans-serif;
	font-size: 250%;
	margin-bottom: 10px;	
}
.contact-status
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 250%;
    margin-bottom: 6px;
}

#contact
{
	position: relative;
	z-index: 1;
}

#contact-image
{
	overflow: visible;
}
	#contact-image>img/*for the cloud at bottom*/
	{
		width: 100vw;
		position: absolute;
		top: -250px;
		z-index: 300;
		image-rendering: pixelated;	
	}

#contact-content
{
/*	background-color: #fff;
*/}
#contact-header
{
	background-color: #DE475B;
}