.player
{
	color : red;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.podcastList
{
	width: 97%;
	margin: 0px auto;
	left: 30px;
	top: 140px;
	bottom: 50px;
	position: fixed;
}

.podcastListing
{
	display: block;
	background-color: grey;
	position: relative;
	left: 10px;
	margin-right: 100px;
	margin: 10px auto;
}

iframe.player
{
	position: "relative";
	bottom: 0;
}